@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-screen h-screen bg-neutral;
    z-index: 100;
}

.dropdown-content{
    @apply bg-primary;
}

.receiver-name, .sender-name{
    @apply capitalize text-base hover  sticky; 
}

.receiver-name{
    @apply top-0 divider-border;
    z-index: 150;
}

/* sticky not working as intended */

.sender-name{
    @apply left-0 border-secondary;
    z-index: 120;
}

.top-left{
    @apply static bg-none;
    z-index: 1;
    
}

.receiver-title, .sender-title{
    z-index: 1;
}

.receiver-title, .sender-title, .top-left, .table, .table-matrix, .divider-border{
    @apply bg-base-100 capitalize text-base border border-neutral;
}

.table{
    @apply table-compact;
}

.sender-title{
    /* @apply py-8; */
    @apply relative;
}

.table-container{
    @apply bg-none modal-box max-w-none min-w-0 w-full p-0 border-0;
    max-height:calc(100vh - 125px);
    /* display:table; */
}

.rounded-box, .modal-box{
    @apply bg-primary;
    box-shadow: none;
}

.background{
    z-index: -100;
    @apply static;
}

.circle{
    @apply bg-secondary;
}

.select, .input {
    @apply bg-base-100;
}

h1 {
    @apply text-neutral font-bold text-xl; 
}

form{
    @apply text-neutral;
}

p {
    @apply text-neutral;
}

.bvh-port-data{
    @apply text-accent object-contain;
    text-align: center;
}

.bg-circle{
    @apply flex circle justify-center items-center w-36 h-36 rounded-full absolute;
}

.label{
    @apply text-neutral;
}

.checkbox{
    @apply checked:checkbox-secondary;
}

.btn{
    @apply btn-secondary text-base-100;
  }
